table {
    width: 100%;
}

.mat-header-cell {
    text-align: center;
}

tr.mat-footer-row {
    font-weight: bold;
}

.small_ferry {
    background: #cb99b9;
}

.large_ferry {
    background: #b7b7e8;
}