<div>
  Ferry logic goes here!
  <br />
  Please feel free to extend this component in anyway you like, the only limit
  is your OWN IMAGINATION!
  <br />

  <button mat-raised-button color="primary" name="get-vehicle" class="mx-4" (click)="getVehicle()">Get Vehicle</button>
  <button mat-raised-button color="accent" name="empty-ferries" (click)="emptyFerries()">Empty Ferries</button>
</div>

<br />

<table mat-table [dataSource]="dataSource" class="mat-elevation-z8" *ngIf="dataSource?.length">

  <ng-container matColumnDef="type">
    <th mat-header-cell *matHeaderCellDef> Type </th>
    <td mat-cell *matCellDef="let element" [ngClass]="{'small_ferry': element.category === 'small', 'large_ferry' : element.category === 'large' }"> {{element.type}} </td>
  </ng-container>

  <ng-container matColumnDef="size">
    <th mat-header-cell *matHeaderCellDef> Size </th>
    <td mat-cell *matCellDef="let element" [ngClass]="{'small_ferry': element.category === 'small', 'large_ferry' : element.category === 'large' }"> {{element.category}} </td>
  </ng-container>

  <ng-container matColumnDef="cost">
    <th mat-header-cell *matHeaderCellDef> Cost </th>
    <td mat-cell *matCellDef="let element" [ngClass]="{'small_ferry': element.category === 'small', 'large_ferry' : element.category === 'large' }"> {{element.cost}} </td>
  </ng-container>

  <ng-container *ngFor="let columnName of displayedColumns2" [matColumnDef]="columnName">

    <td mat-footer-cell *matFooterCellDef="let row">
      {{columnName === 'f2_size' ? 'Terminal earns': columnName === 'f2_cost' ? terminalEarns : ''}}
    </td>

  </ng-container>

  <ng-container *ngFor="let columnName of displayedColumns3" [matColumnDef]="columnName">

    <td mat-footer-cell *matFooterCellDef="let row">
      {{columnName === 'f3_size' ? 'Worker earns': columnName === 'f3_cost' ? workerEarns : ''}}
    </td>

  </ng-container>  

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

  <tr mat-footer-row *matFooterRowDef="displayedColumns2"></tr>
  <tr mat-footer-row *matFooterRowDef="displayedColumns3"></tr>
</table>